.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cart {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 50px;
  grid-auto-rows: auto;
  grid-gap: 15px;
  width: 500px;
}

.cart-info {
  margin: 15px;
  padding: 10px;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    .column2 {
      text-align: end;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: space-between;
}
