header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  height: 90px;

  h1 {
    font-family: 'Caveat', cursive;
  }

  .logo h1 {
    position: relative;
    z-index: 1;
  }

  .logo h1::before {
    background: url('../assets/coffee-logo.png') no-repeat 0 0;
    content: ' ';
    position: absolute;
    background-size: contain;
    width: 50px;
    height: 50px;
    bottom: -3px;
    left: 49px;
    z-index: -1;
  }

  .logo h1::after {
    content: 'Brigade';
    position: absolute;
    z-index: -1;
    bottom: -17px;
    left: 59px;
  }
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  .nav-link {
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: background-color 0.5s;
    font-weight: bold;
    font-size: 1.8rem;
  }

  .active {
    border-bottom: 2px solid #745e4a;
  }

  .nav-link:not(.active):hover {
    background-color: #745e4a;
    color: white;
  }

  .cart {
    position: relative;
    border: none;
    width: 3rem;
    height: 3rem;
    margin: 0;
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;

    .cart-count {
      display: flex;
      align-items: center;
      justify-content: center;
      color: orangered;
      position: absolute;
      font-size: 2rem;
      font-weight: bold;
      top: -2px;
      font-family: 'Courier New', Courier, monospace;
    }
  }

  .cart-icon-container {
    display: flex;
    background-color: #cfc5b8;
    border-radius: 50%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    a:hover {
      background-color: none;
    }
  }
}

@media screen and (max-width: 680px) {
  header {
    flex-direction: column;
    height: 160px;
  }
}
