header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  height: 90px;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  .nav-link {
    padding: 20px;
    text-decoration: none;
    color: black;
    transition: background-color 0.5s;
    border: 1px solid black;
    font-weight: bold;
    font-size: 1.8rem;
  }
  .nav-link:hover {
    background-color: #745e4a;
    color: white;
  }

  .cart {
    border: none;
    width: 3rem;
    height: 3rem;
    margin: 0;
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;

    .cart-count {
      display: flex;
      align-items: center;
      justify-content: center;
      color: orangered;
      position: absolute;
      font-size: 2rem;
      font-weight: bold;
      top: 16px;
      font-family: 'Courier New', Courier, monospace;
    }
  }

  .cart-icon-container {
    display: flex;
    background-color: white;
    border-radius: 50%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    a:hover {
      background-color: none;
    }
  }
}

@media screen and (max-width: 680px) {
  header {
    flex-direction: column;
    height: 160px;
  }
}
