header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  height: 90px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}
