main {
  height: calc(100vh - 90px);
}

.section1 {
  height: 350px;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 60px;
  top: 15px;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    z-index: 3;
    padding: 15px;
    border: 1px solid #745e4a;
    background-color: #342e2750;
    border-radius: 15px;
    color: white;
  }

  .call-to-action button {
    background-color: #745e4a;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1em;
    padding: 10px;
  }
}
