p {
  padding: 0;
  margin: 0;
}

.product-card {
  border: 1px solid #342e27;
  display: flex;
  flex-direction: column;
  width: 290px;
  padding: 15px;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  img {
    border: 1px solid #342e27;
    box-shadow: 3px 3px 0 #342e27;
    transition: box-shadow 0.5s;
  }
}

.product-card:hover {
  img {
    box-shadow: 0px 0px 0 #342e27;
  }
}

.quantity-input {
  display: flex;
  justify-content: space-around;
  width: 100%;
  button {
    background-color: #745e4a;
    color: white;
    font-weight: bold;
    font-size: 25px;
    width: 35px;
    height: 35px;
    border: 1px solid black;
    cursor: pointer;
  }
}

input {
  width: 100px;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
}

.product-card > button {
  background-color: #745e4a;
  color: white;
  border-radius: 16px;
  border: 1px solid black;
  height: 45px;
  width: 100px;
  text-align: center;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
}
