.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.search-bar {
  padding: 10px;
  input {
    font-size: 1.9rem;
    height: 3rem;
    width: 200px;
    font-weight: normal;
  }

  input:focus {
    outline: none;
    border: 1px solid darkgray;
    box-shadow: 0 0 10px #000;
  }
}

.shopping-area {
  display: flex;
  padding: 20px;
  //width: 100vw;
  flex-wrap: wrap;
  gap: 20px;
  //grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  //grid-auto-rows: auto;
  //grid-gap: 15px;
  margin-bottom: 50px;
  justify-content: space-evenly;
}
